:root {
  --max-width: 1200px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --sh-class: #2d5e9d;
  --sh-sign: #8996a3;
  --sh-string: #008378;
  --sh-keyword: #ec4e43;
  --sh-identifier: #c34ace;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
}

html,
body {
  tab-size: 4;
  max-width: 100vw;
  min-width: 360px;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

a {
  color: inherit;
  text-decoration: none;
}
